# **1. Import Library**

Pada tahap ini, Anda perlu mengimpor beberapa pustaka (library) Python yang dibutuhkan untuk analisis data dan pembangunan model machine learning.

In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from sklearn.metrics import silhouette_score, accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

# **2. Memuat Dataset dari Hasil Clustering**

Memuat dataset hasil clustering dari file CSV ke dalam variabel DataFrame.

In [15]:
data = pd.read_csv('hasil_cluster.csv')
df = pd.DataFrame(data)  # Pastikan data sudah dalam bentuk DataFrame

In [16]:
data

,User_ID,Age,Gender,Social_Media_Hours,Exercise_Hours,Sleep_Hours,Screen_Time_Hours,Survey_Stress_Score,Wearable_Stress_Score,Support_System,Academic_Performance
0,1,16,0,9.654486,2.458001,5.198926,8.158189,3,0.288962,2,1
1,2,17,1,9.158143,0.392095,8.866097,5.151993,5,0.409446,2,2
2,3,15,1,5.028755,0.520119,4.943095,9.209325,2,0.423837,2,3
3,4,17,0,7.951103,1.022630,5.262773,9.823658,5,0.666021,2,0
4,5,17,0,1.357459,1.225462,6.196080,11.338990,5,0.928060,0,3
...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,14,1,0.088148,1.003339,8.684888,5.922202,1,0.750205,2,0
4996,4997,15,0,7.161276,1.024644,5.312684,10.224924,4,0.427209,2,1
4997,4998,14,1,3.444383,2.877972,9.227726,4.059322,4,0.002893,0,2
4998,4999,18,0,7.866525,2.395839,4.317831,10.657076,2,0.612063,0,0
4999,5000,18,1,3.389362,1.375646,8.693171,6.977589,5,0.952662,2,1

### standarisasi dan normalisasi data

In [29]:
# Identifikasi kolom numerik (kecuali User_ID)
numerical_cols = [ "Social_Media_Hours", "Exercise_Hours", "Sleep_Hours", 
                  "Screen_Time_Hours", "Wearable_Stress_Score"]

# Normalisasi dengan MinMaxScaler
minmax_scaler = MinMaxScaler()
df_normalized = data.copy()
df_normalized[numerical_cols] = minmax_scaler.fit_transform(df_normalized[numerical_cols])

scaler = StandardScaler()
df_normalized[numerical_cols] = scaler.fit_transform(df_normalized[numerical_cols])

df_normalized

,User_ID,Age,Gender,Social_Media_Hours,Exercise_Hours,Sleep_Hours,Screen_Time_Hours,Survey_Stress_Score,Wearable_Stress_Score,Support_System,Academic_Performance
0,1,16,0,1.654869,1.098356,-1.079212,0.377898,3,-0.716698,2,1
1,2,17,1,1.480936,-1.265659,1.050340,-0.664759,5,-0.300863,2,2
2,3,15,1,0.033878,-1.119161,-1.227774,0.742471,2,-0.251193,2,3
3,4,17,0,1.057954,-0.544139,-1.042135,0.955543,5,0.584673,2,0
4,5,17,0,-1.252652,-0.312038,-0.500157,1.481115,5,1.489070,0,3
...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,14,1,-1.697456,-0.566213,0.945111,-0.397623,1,0.875225,2,0
4996,4997,15,0,0.781176,-0.541833,-1.013151,1.094717,4,-0.239558,2,1
4997,4998,14,1,-0.521333,1.578928,1.260341,-1.043737,4,-1.704030,0,2
4998,4999,18,0,1.028315,1.027224,-1.590870,1.244603,2,0.398445,0,0
4999,5000,18,1,-0.540614,-0.140182,0.949921,-0.031576,5,1.573981,2,1

In [30]:
df_normalized.describe()

,User_ID,Age,Gender,Social_Media_Hours,Exercise_Hours,Sleep_Hours,Screen_Time_Hours,Survey_Stress_Score,Wearable_Stress_Score,Support_System,Academic_Performance
count,5000.000000,5000.000000,5000.000000,5.000000e+03,5.000000e+03,5.000000e+03,5.000000e+03,5000.000000,5.000000e+03,5000.000000,5000.000000
mean,2500.500000,15.493200,0.494400,1.591616e-16,3.621992e-16,9.947598e-18,-9.379164e-17,3.015800,8.597567e-17,1.003800,1.524600
std,1443.520003,1.715151,0.500019,1.000100e+00,1.000100e+00,1.000100e+00,1.000100e+00,1.414762,1.000100e+00,0.821414,1.122696
min,1.000000,13.000000,0.000000,-1.728161e+00,-1.713792e+00,-1.774556e+00,-1.757817e+00,1.000000,-1.713663e+00,0.000000,0.000000
25%,1250.750000,14.000000,0.000000,-8.616812e-01,-8.739244e-01,-8.394315e-01,-8.651143e-01,2.000000,-8.697591e-01,0.000000,1.000000
50%,2500.500000,16.000000,0.000000,-1.188112e-02,-1.684310e-02,6.680450e-03,1.746281e-02,3.000000,1.306696e-02,1.000000,2.000000
75%,3750.250000,17.000000,1.000000,8.540365e-01,8.901944e-01,8.490174e-01,8.524209e-01,4.000000,8.742702e-01,2.000000,3.000000
max,5000.000000,18.000000,1.000000,1.774214e+00,1.718307e+00,1.708358e+00,1.710034e+00,5.000000,1.736714e+00,2.000000,3.000000

# **3. Data Splitting**

Tahap Data Splitting bertujuan untuk memisahkan dataset menjadi dua bagian: data latih (training set) dan data uji (test set).

In [32]:

# Pastikan ada kolom fitur dan label (misalnya label ada di kolom terakhir)
X = df_normalized.iloc[:, :-1]  # Semua kolom kecuali yang terakhir (fitur)
y = df_normalized.iloc[:, -1]   # Kolom terakhir sebagai target (label)

# Split data menjadi training dan testing set (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [35]:
X_train,y_train

(      User_ID  Age  Gender  Social_Media_Hours  Exercise_Hours  Sleep_Hours  \
 4227     4228   18       1           -0.816489        0.648863    -0.933247
 4676     4677   15       0            1.069818        0.828819    -0.093557
 800       801   17       1           -0.382630       -0.560331     0.500229
 3671     3672   14       1           -0.021699       -1.576617     0.353184
 4193     4194   15       0            0.227862       -0.160173     1.344918
 ...       ...  ...     ...                 ...             ...          ...
 4426     4427   18       1            0.170561       -0.888908     0.959235
 466       467   13       1            1.202264        1.360853    -1.704882
 3092     3093   17       1            1.111649       -0.844072     1.139890
 3772     3773   16       0           -0.399655       -0.165357    -0.631886
 860       861   16       1           -0.604800       -1.460425    -0.397341

       Screen_Time_Hours  Survey_Stress_Score  Wearable_Stress_Score  \
 4227           1.054827                    1               0.743577
 4676           0.884035                    5              -1.370983
 800            0.355075                    3               0.720876
 3671           0.078877                    3               1.025307
 4193           1.108619                    1              -0.721260
 ...                 ...                  ...                    ...
 4426          -0.642733                    4               1.257954
 466            0.014710                    3               0.197449
 3092          -1.195042                    5               1.040758
 3772           1.230589                    5              -0.717502
 860            0.485792                    4               1.167815

       Support_System
 4227               2
 4676               1
 800                2
 3671               1
 4193               0
 ...              ...
 4426               2
 466                2
 3092               2
 3772               2
 860                1

 [4000 rows x 10 columns],
 4227    2
 4676    1
 800     0
 3671    0
 4193    0
        ..
 4426    1
 466     0
 3092    1
 3772    1
 860     3
 Name: Academic_Performance, Length: 4000, dtype: int64)

# **4. Membangun Model Klasifikasi**

## **a. Membangun Model Klasifikasi**

Setelah memilih algoritma klasifikasi yang sesuai, langkah selanjutnya adalah melatih model menggunakan data latih.

pada tahap ini saya menggunakan algoritma SVM untuk mengklasifikasikan datanya

In [ ]:
svm_model = SVC(kernel='linear', C=1.0, gamma='scale', random_state=42)

# Training model
svm_model.fit(X_train, y_train)

# prediksi pada data uji
y_pred = svm_model.predict(X_test)

#evaluasi akurasi
accuracy = accuracy_score(y_test, y_pred)
print(f"Akurasi Model SVM: {accuracy:.2f}")

Tulis narasi atau penjelasan algoritma yang Anda gunakan.

## **b. Evaluasi Model Klasifikasi**

Berikut adalah **rekomendasi** tahapannya.
1. Lakukan prediksi menggunakan data uji.
2. Hitung metrik evaluasi seperti Accuracy dan F1-Score (Opsional: Precision dan Recall).
3. Buat confusion matrix untuk melihat detail prediksi benar dan salah.

In [ ]:
#Type your code here

Tulis hasil evaluasi algoritma yang digunakan, jika Anda menggunakan 2 algoritma, maka bandingkan hasilnya.

## **c. Tuning Model Klasifikasi (Optional)**

Gunakan GridSearchCV, RandomizedSearchCV, atau metode lainnya untuk mencari kombinasi hyperparameter terbaik

In [ ]:
#Type your code here

## **d. Evaluasi Model Klasifikasi setelah Tuning (Optional)**

Berikut adalah rekomendasi tahapannya.
1. Gunakan model dengan hyperparameter terbaik.
2. Hitung ulang metrik evaluasi untuk melihat apakah ada peningkatan performa.

In [ ]:
#Type your code here

## **e. Analisis Hasil Evaluasi Model Klasifikasi**

Berikut adalah **rekomendasi** tahapannya.
1. Bandingkan hasil evaluasi sebelum dan setelah tuning (jika dilakukan).
2. Identifikasi kelemahan model, seperti:
  - Precision atau Recall rendah untuk kelas tertentu.
  - Apakah model mengalami overfitting atau underfitting?
3. Berikan rekomendasi tindakan lanjutan, seperti mengumpulkan data tambahan atau mencoba algoritma lain jika hasil belum memuaskan.